#header{
    margin-top: 50px;
    width: 100%;
    background: #EEEEEE;
    padding: 15px;
    height: 60px;
}

#logo{
    float: left;
    font-weight: bold;
    font-size: 120%;
    padding: 0px 5px 3px 5px;
}

textarea{
    resize: none;
    border: none;
    height: 50vh;
    width:  100%;
}

iframe{
    border: none;
    width: 100%;
}

.hidden{
    display: none;
}